<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Instrument Training</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
  </script>
  <body>

    <div class="wrapper">
      <header>
        <h1>Instrument Sound Training</h1>
      </header>
  <section class="top-display">
	<div class="directions">
      <div>
          <form action="download">
          <strong>your name: </strong><input type="text" name="name" id="namebox"> <button type="submit">download your files</button>
          </form>
          <div>
          <small> this is so we can collect all your files and keep them separated from everything else</small>
        </div>
      </div>
      <br>
    <h3>press record to start</h3>
    <div>If you mess up, press stop and you can delete the bad ones and re-record them as needed.</div>
    </p>
	</div>

  <div class="guidance">
    next sound: <span class="next-word-display"></span>
  <h3><div class="info-display"></div></h3>
  <div class="progress-display"> </div>
  </div>
      </section>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
          <button class="upload">Upload</button>
        </div>
      </section>

      <section class="sound-clips">

        <!-- This is left here as a helper for testing the style of the clips
        If you want to edit their appearance without having to record clips,
        uncomment this and reload the page. Remember to comment it again when done!
        <article class="clip">
          <audio controls></audio>
          <p>Sample clip name</p>
          <button class="delete">Delete</button>
        </article>
        -->

      </section>

    </div>
    <footer>
    
    </footer>

    <script src="static/scripts/app.js"></script>

  </body>
</html>
