<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Instrument Training</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
  </script>
  <body>

    <div class="wrapper">

      <header>
        <h1>Instrument Sound Training</h1>
      </header>

      <section class="top-display">
	<div class="directions">
    <h4>press record to start</h4>
    <p>When all the requested sounds are completed you'll be able to upload the recordings.</p>
    <p>
      <strong>If you mess up, press stop and you can delete the bad ones and re-record them as needed.</strong>
    </p>
	</div>
	<div class="progress-display">
  </div>
  <div>
    next sound: <span class="next-word-display"></span>
	</div>
	<div class="info-display">
	</div>
      </section>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
          <button class="upload">Upload</button>
        </div>
      </section>

      <section class="sound-clips">

        <!-- This is left here as a helper for testing the style of the clips
        If you want to edit their appearance without having to record clips,
        uncomment this and reload the page. Remember to comment it again when done!
        <article class="clip">
          <audio controls></audio>
          <p>Sample clip name</p>
          <button class="delete">Delete</button>
        </article>
        -->

      </section>

    </div>
    <footer>
    
    </footer>

    <script src="static/scripts/app.js"></script>

  </body>
</html>
